.appSubHeader {
  height: 4rem;
  font-size: 2rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.selectbox {
  text-align: right;
}

.searchbar {
  height: 6rem;
  font-size: 1.5rem;
  border-bottom: 1px solid;

  display: grid;
  grid-template-columns: 1fr 0.9fr 0.9fr 2fr 0.9fr 0.9fr;
  align-items: center;
  background-color: blanchedalmond;
}

.pagination {
  height: 5rem;

  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  align-items: center;
}
