.appGrid {
  height: 73%;
  width: 100%;
  border-radius: 5px;
  overflow-y: scroll;
}

.appGridHeader {
  background-color: lightgray;
  height: 5rem;

  display: grid;
  grid-template-columns: 0.3fr 1fr 2fr 0.5fr;
  align-items: center;
}

.col1 {
  justify-self: center;
}

.col4 {
  justify-self: center;
}

.appGridRow {
  height: 5rem;

  display: grid;
  grid-template-columns: 0.3fr 1fr 2fr 0.5fr;
  align-items: center;
}
